.row-header{
    margin:0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #9fd4f7;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 20px 10px 20px 10px;
    margin: 0px auto;
    background: #9fd4f7;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0px;
}

.navbar-inverse{
    background-color: rgb(20, 33, 150);
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background: rgb(158, 214, 158);   
}

.carousel-item{
    height: 300px; 
}

.carousel-item p{
    color: black;
    font-weight: bold; 
    background-color: RGBA(255,255,255,0.5);
}

.carousel-item H2{
    color: black;
    font-weight: bold; 
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carousel-button{
    right:0px;
    position: absolute;
    bottom:0px;
}